on:
  push:
    branches:
      - main

permissions:
  checks: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          build-essential \
          libcriterion-dev

      - name: Build
        run: make

      - name: Run tests
        run: make test
